<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cards</title>
    <link rel="stylesheet" href="./12xCards.css" />
    <link rel="stylesheet" href="/bootstrap-5.0.1-dist/css/bootstrap.min.css" />
  </head>
  <body>
  <div class="box">
    <div class="container">
    <section class="table-cards">
      <h3 class="titleOfS">Statistik ma'lumotlar</h3>
      <h4 class="statYear">
        2018-2019-yildagi kirish ko'rsatichlari <br> Guliston davlat universiteti akademik litseyi bitiruvchilarining oliy ta'lim <br> muassasalariga kirish % larda
      </h4>
      <div class="firFloor">
        <div class="row ">
          <div class="card col-sm-4 col-md-4 col-lg-4 col-x-4">
            <div class="card-body">
              <h5 class="card-title">39</h5>
              <div class="card-footer">Ijtimoiy gumanitar fanlar <br> (Tarix, ingliz tili)</div>
            </div>
            </div><div class="card col-sm-4 col-md-4 col-lg-4 col-x-4">
            <div class="card-body">
              <h5 class="card-title">33</h5>
              <div class="card-footer">Xorijiy tillar <br> (Ingliz tili, ona tili va adabiyot, tarix)</div>
            </div>
          </div>

          <div class="card col-sm-4 col-md-4 col-lg-4 col-x-4">
            <div class="card-body">
              <h5 class="card-title">33</h5>
              <div class="card-footer">Tabiiy fanlar - 1 <br> (Biologiya, kimyo, ona tili va adabiyot)</div>
            </div>
          </div>
    </div>

    <div class="row">
          <div class="card col-sm-4 col-md-4 col-lg-4 col-x-4">
            <div class="card-body">
              <h5 class="card-title">16</h5>
              <div class="card-footer">Tabiiy fanlar - 2 <br>(Kimyo, matematika)</div>
            </div>
          </div>

          <div class="card col-sm-4 col-md-4 col-lg-4 col-x-4">
            <div class="card-body">
              <h5 class="card-title">62</h5>
              <div class="card-footer">Aniq fanlar - 1 <br> (Matematika, fizika)</div>
            </div>
          </div>

          <div class="card col-sm-4 col-md-4 col-lg-4 col-x-4">
            <div class="card-body">
              <h5 class="card-title">56</h5>
              <div class="card-footer">Aniq fanlar - 2 (Matematika, ingliz tili)</div>
            </div>
          </div>
        </div>
    </div>
      <h4 class="statYear">
        2018-2019-yildagi kirish ko'rsatichlari <br> Guliston davlat universiteti akademik litseyi bitiruvchilarining oliy ta'lim <br> muassasalariga kirish % larda
      </h4>
      <div class="secFloor">
        <div class="row">
          <div class="card sm-4 md-4 lg-4 x-4">
            <div class="card-body">
              <h5 class="card-title">66</h5>
              <div class="card-footer">Ijtimoiy gumanitar fanlar <br> (Tarix, ingliz tili)</div>
          </div>
        </div>
          <div class="card sm-4 md-4 lg-4 x-4">
            <div class="card-body">
              <h5 class="card-title">66</h5>
              <div class="card-footer">Xorijiy tillar <br> (Ingliz tili, ona tili va adabiyot, tarix)</div>
            </div>
          </div>

          <div class="card sm-4 md-4 lg-4 x-4">
            <div class="card-body">
              <h5 class="card-title">76</h5>
              <div class="card-footer">Tabiiy fanlar - 1 <br> (Biologiya, kimyo, ona tili va adabiyot)</div>
            </div>
          </div>
        </div>
        <div class="row">

          <div class="card sm-4 md-4 lg-4 x-4">
            <div class="card-body">
              <h5 class="card-title">61</h5>
              <div class="card-footer">Tabiiy fanlar - 2 <br>(Kimyo, matematika)</div>
            </div>
          </div>

          <div class="card sm-4 md-4 lg-4 x-4">
            <div class="card-body">
              <h5 class="card-title">84</h5>
              <div class="card-footer">Aniq fanlar - 1 <br> (Matematika, fizika)</div>
            </div>
          </div>

          <div class="card sm-4 md-4 lg-4 x-4">
            <div class="card-body">
              <h5 class="card-title">70</h5>
              <div class="card-footer">Aniq fanlar - 2 (Matematika, ingliz tili)</div>
            </div>
          </div>
        </div>
                    
    </div>
    </section>
  </div>
</div>
  <script src="/bootstrap-5.0.1-dist/js/bootstrap.min.js"></script>
  </body>
</html>
