
/* mode */
/* 
.darkMode {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 15px;
  bottom: 20px;
  padding: 20px;
  height: 20px;
  width: 20px;
  border: #000;
  background-color: #fff;
  border-radius: 50%;
  transition: all 0.5s cubic-bezier(1, 0.84, 0, 0.15);
}
.darkMode.active {
  background-color: #000;
}
body.dark {
  background-color: #000;
}
.darkMode i {
  padding: 5px;
}
.darkMode.active i {
  color: #fff;
}

.navigation.mode {
  background-color: #091864;
  border-left: 5px solid #091864;
  border-right: 10px solid #091864;
}
.navigation.mode ul li b:nth-child(1)::before {
  background-color: #091864;
}
.navigation.mode ul li b:nth-child(2)::before {
  background-color: #091864;
} 