<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data UI Design</title>
    <link rel="stylesheet" href="./data.css" />
  </head>
  <body>
    
    <div class="data">
      <div class="logo">
        
      </div>
      <div class="lang-menu">
        <div class="selected-lang">
            <p class="langChoose uz">Uz</p>     
        </div>
      <ul>
          <li><a class="langChoose ru" href="#">Ru</a></li>
          <li><a class="langChoose en" href="#">En</a></li>
      </ul>
  </div>
      <div id="clock">
        <div id="time">
          <div><span id="hours">00</span><span>.</span></div>
          <div><span id="minutes">00</span><span>.</span></div>
          <div><span id="secunds">00</span><span></span></div>

        </div>
      </div>
      <div class="weather">
        <p>20'C</p>
      </div>
      <div class="dates">
        <div><span id="date">00</span>.</div>
        <div><span id="month">00</span>.</div>
        <div><span id="year">00</span></div>
      </div>
    </div>
    <script src="./data.js"></script>
  </body>
</html>
