<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>19xCards</title>
    <link rel="stylesheet" href="./newsCards.css">
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="content">
                <h2>Prezident farmonlari</h2>
                <a href="#"> To'liq ma'lumot</a>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2>Siyosiy Yangiliklar</h2>
                <a href="#"> To'liq ma'lumot</a>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2>O'zbekiston Yoshlar Ittifoqi</h2>
                <a href="#"> To'liq ma'lumot</a>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2>Shahar kengashi faoliyati</h2>
                <a href="#"> To'liq ma'lumot</a>
            </div>
        </div>
    </div>
    <script src="./newsCards.js"></script>
</body>
</html>