<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>4xCards</title>
    <link rel="stylesheet" href="./4xCards.css">
</head>
<body>
    <div class="container">
      <div class="kards">
      <div class="cards ">
        <div class="card">
          <div class="content">
            <img src="/images/Logo.png" class="cardImg" alt="">
              <h2>Top news </h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, repudiandae!</p>
              <a href="#"> To'liq ma'lumot</a>
          </div>
      </div>
        <div class="card">
            <div class="content">
              <img src="/images/Logo.png" class="cardImg" alt="">
                <h2>Prezident farmonlari</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, repudiandae!</p>
                <a href="#"> To'liq ma'lumot</a>
            </div>
        </div>
        <div class="card">
            <div class="content">
              <img src="/images/Logo.png" class="cardImg" alt="">
                <h2>Siyosiy Yangiliklar</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, repudiandae!</p>
                <a href="#"> To'liq ma'lumot</a>
            </div>
        </div>
        <div class="card">
            <div class="content">
              <img src="/images/Logo.png" class="cardImg" alt="">
                <h2>O'zbekiston Yoshlar Ittifoqi</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, repudiandae!</p>
                <a href="#"> To'liq ma'lumot</a>
            </div>
        </div>
    </div>
      </div>
    </div>
</body>
</html>