<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sidebar</title>
    <link rel="stylesheet" href="./sidebar.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
  </head>
  <body>
    <div class="image">
      <img src="/images/klipartz.com.png" class="side-img" alt="" />
      <img src="/images/klipartz-logo.png" class="side-img-logo" alt="">
    </div>
    <div class="navigation">
      <ul>
        <li class="list active">
          <b class="b"></b>
          <b class="b"></b>
          <a href="./home.html" target="_blank">
            <span class="icon"><i class="fas fa-home"></i></span>
            <span class="title">Home</span>
          </a>
        </li>
        <li class="list">
          <b class="b"></b>
          <b class="b"></b>
          <a href="./news.html" target="_blank">
            <span class="icon">
              <i class="fas fa-newspaper"></i>
            </span>
            <span class="title">Biz haqimizda</span>
          </a>
        </li>
        <li class="list">
          <b class="b"></b>
          <b class="b"></b>
          <a href="./docs.html" target="_blank">
            <span class="icon"><i class="fa fa-image"></i></span>
            <span class="title">Galereya</span>
          </a>
        </li>
        <li class="list">
          <b class="b"></b>
          <b class="b"></b>
          <a href="./liders.html" target="_blank">
            <span class="icon"><i class="fa fa-book"></i></span>
            <span class="title">Axborot kutuboxna</span>
          </a>
        </li>
        <li class="list">
          <b class="b"></b>
          <b class="b"></b>
          <a href="./contact.html" target="_blank">
            <span class="icon"><i class="fas fa-phone-alt"></i></span>
            <span class="title">Contact</span>
          </a>
        </li>
      </ul>
      <div class="darkMode">
        <i class="fas fa-moon"></i>
      </div>
    </div>
    <div class="toggle">
      <p class="toggle-icon">></p>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js" ></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="./sidebar.js"></script>
  </body>
</html>
