<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./3xCard.css" />
    <title>3x Cards</title>
  </head>
  <body>
    <div class="container">
      <div class="cards">
        <div class="card">
          <div class="circle">
            <h2>01</h2>
          </div>
          <div class="content">
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae eaque temporibus debitis, atque dicta rem odio ut adaspernatur optio nulla
            </p>
            <a href="#">Read More</a>
          </div>
        </div>
        <div class="card">
          <div class="circle">
            <h2>02</h2>
          </div>
          <div class="content"> <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.Molestiae eaque temporibus debitis, atque dicta rem odio ut adaspernatur optio nulla
            </p>
            <a href="#">Read More</a>
          </div>
        </div>
        <div class="card">
          <div class="circle">
            <h2>03</h2>
          </div>
          <div class="content"> <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.Molestiae eaque temporibus debitis, atque dicta rem odio ut adaspernatur optio nulla
            </p>
            <a href="#">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
