<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GulDU | Home</title>
    <link rel="stylesheet" href="/Component/data/data.css"/>
    <link rel="stylesheet" href="/Component/news/newspp.css">
    <link rel="stylesheet" href="/Component/Footer/footer.css" />
    <link rel="stylesheet" href="/Component/animation/anim.css" />
    <link rel="stylesheet" href="/Component/news/home/newsP.css" />
    <link rel="stylesheet" href="/Component/sidebar/sidebar.css" />
    <link rel="stylesheet" href="/bootstrap-5.0.1-dist/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="/fontawesome-free-6.0.0-beta3-web/css/all.css"
    />
  </head>
  <body>
    <div class="newsP">
      <div class="image">
        <img src="/images/logo-LITSEY.png" class="side-img" alt="" />
        <img src="/images/logo-LITSEY.png" class="side-img-logo" alt="" />
      </div>
      <!-- Sidebar -->
      <div class="navigation">
        <ul>
          <li class="list active">
            <b class="b"></b>
            <b class="b"></b>
            <a href="/pages/home.html">
              <span class="icon"><i class="fas fa-home"></i></span>
              <span class="title">Home</span>
            </a>
          </li>
          <li class="list">
            <b class="b"></b>
            <b class="b"></b>
            <a href="/pages/home.html">
              <span class="icon">
                <i class="fas fa-newspaper"></i>
              </span>
              <span class="title">Biz haqimizda</span>
            </a>
          </li>
          <li class="list">
            <b class="b"></b>
            <b class="b"></b>
            <a href="/pages/docs.html">
              <span class="icon"><i class="fa fa-image"></i></span>
              <span class="title">Galereya</span>
            </a>
          </li>
          <li class="list">
            <b class="b"></b>
            <b class="b"></b>
            <a href="/pages/liders.html">
              <span class="icon"><i class="fa fa-user"></i></span>
              <span class="title">Ma'muriyat</span>
            </a>
          </li>
          <li class="list">
            <b class="b"></b>
            <b class="b"></b>
            <a href="/pages/contact.html">
              <span class="icon"><i class="fas fa-phone-alt"></i></span>
              <span class="title">Contact</span>
            </a>
          </li>
        </ul>
        <div class="darkMode">
          <i class="fas fa-moon"></i>
        </div>
      </div>
      <div class="toggle">
        <p class="toggle-icon">></p>
      </div>

      <!-- Text with Animation  -->

      <div class="animation-text">
        <p class="web-title h5 container" id="web-title">
          Bekobod shahar yoshlar ittifoqi test variantdagi web sayti
        </p>
      </div>

         <!-- Data -->
         <div class="boxData container">
          <div class="data">
            <div class="logo">
            </div>
            <div class="lang-menu">
              <div class="selected-lang">
                  <p class="langChoose uz">Uz</p>     
              </div>
            <ul>
                <li><button class="langBtn"><a class="langChoose ru" href="#">Ru</a></button></li>
                <li><button class="langBtn"><a class="langChoose en" href="#">En</a></button></li>
            </ul>
        </div>
            <div id="clock">
              <div id="time">
                <div><span id="hours">00</span><span>.</span></div>
                <div><span id="minutes">00</span><span>.</span></div>
                <div><span id="secunds">00</span><span></span></div>
      
              </div>
            </div>
            <div class="dates">
              <div><span id="date">00</span>.</div>
              <div><span id="month">00</span>.</div>
              <div><span id="year">00</span></div>
            </div>
          </div>
        </div>

        <div class="window container">
        <h3 class="themWin">Theme here</h3>
        <p class="glassmorph">Glassmopric text here</p>
        <img class="bannerImg img-fluid" src="/images/Logo.png" alt="News" />
        <br />
        <h5 class="content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint ut
          impedit est sunt repudiandae? Voluptatum fuga, sapiente officiis
          reprehenderit porro sunt labore quaerat expedita quos ipsum fugit
          eaque deleniti amet vitae nemo doloremque in aspernatur nisi, et
          soluta! Qui maxime, nemo pariatur at harum perspiciatis ut quod vero
          porro quibusdam eum excepturi sapiente officiis odio quidem atque 
          <br><br>
          omnis vitae, nesciunt quia nihil exercitationem accusamus? Perferendis
          commodi dolorum id aliquid ab sequi aliquam cum beatae expedita quo,
          non omnis facere placeat! Molestiae voluptas perferendis, tempora
          soluta, minima ipsam quibusdam deserunt sit hic vitae obcaecati in
          porro? Nobis et, aliquam reiciendis accusamus laborum eius distinctio
          quaerat ducimus saepe labore tenetur vitae eum itaque atque 
          <br><br>
          dignissimos fugiat error autem ipsa? Molestiae deleniti neque
          distinctio excepturi exercitationem. Magnam aspernatur a fugiat
          nesciunt explicabo. Provident a sit repellendus totam aspernatur qui
          culpa unde vel ut quae laborum dicta quibusdam, saepe eveniet
          consectetur molestias earum exercitationem accusamus architecto quo.
          Qui quisquam alias nisi beatae praesentium iusto omnis nobis porro
          voluptas, consequatur, veritatis expedita cum, culpa ab. Fugit iure
          aliquam maiores magnam non. Culpa fugiat quas debitis sequi ipsa
          aperiam maiores praesentium, perspiciatis eius velit necessitatibus,
          fuga sint! Ipsa repellendus nisi, doloremque sint ullam labore eum
          vel?
        </h5>
        <br>
        <div class="timeCont"> 00:53 22.02.2022</div>
      </div>

      <!-- Footer -->

      <footer class="footer-distributed">
        <div class="footer-left">
          <h3> GulDU <br> ♠7♣7♦7♥ <br> <span> Academic Lyceum</span></h3>
          <p class="footer-links">
            <a href="#">Home</a>
            |
            <a href="#">News</a>
            |
            <a href="#">Ma'muriyat</a>
            |
            <a href="#">Leaders</a>
            |
            <a href="#">Contact</a>
          </p>
          <p class="footer-company-name">
            &copy; Copyright 2022 <strong>Jasur Engineers</strong> all rights
            reserved
          </p>
        </div>

        <div class="footer-center">
          <div>
            <i class="fas fa-map-marker-alt"></i>
            <p>
              <a href="https://goo.gl/maps/8a8xoZs8Uubf6ese7"
                >Uzbekistan, Tashkent, <span> Bekobod, 67C4+RPX</span></a
              >
            </p>
          </div>
          <div>
            <i class="fas fa-phone"></i>
            <p>+998 90123 45 67</p>
          </div>
          <div>
            <i class="fas fa-fax"></i>
            <p>+998 90123 45 67</p>
          </div>
          <div>
            <i class="far fa-envelope"></i>
            <p><a href="#">Email@gmail.com</a></p>
          </div>
        </div>

        <div class="footer-right">
          <p class="footer-company-about">
            <span>About Youth Union</span>
            <strong>Youth Union of Uzbekistan</strong> isn't a company Lorem
            ipsum dolor sit amet, consectetur adipisicing elit. Atque
            consequatur recusandae at maiores velit sit, quae quam reiciendis
            laudantium cumque autem cum culpa rerum repudiandae tempora porro
            tenetur doloribus sequi! Eaque quibusdam unde voluptate nemo
            incidunt perferendis saepe velit doloribus obcaecati alias harum
            quod debitis et pariatur possimus, odit minima.
          </p>
        </div>

        <div class="footer-icons">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
      </footer>
    </div>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <script src="/bootstrap-5.0.1-dist/js/bootstrap.min.js"></script>
    <script src="/Component/sidebar/sidebar.js"></script>
    <script src="/Component/data/data.js"></script>
  </body>
</html>
